---
---
@import "minima";

.img-banner {
    max-width: 100%;
    height: auto;
}

.page-bannerimage {
  margin-bottom: $spacing-unit;
}

.site-title-svg-icon {
  width: 16px;
  height: 16px;
  fill: #{$grey-color};
}